<h1 style="text-align:center;color:green;"> Welcome to Our Library </h1>


<button><h2><%= link_to "Authors", "/authors" %></h2></button> 
<button><h2><%= link_to "Sections", "/sections" %></h2></button> 
<br>
<br><br>
<a href="/addstudent">Add New Student</a>