/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#heading{
  color:black;
  float: left;
  margin-left: 30px;
  padding : 10px;
  font-family:Lato Medium ;
  line-height: 30px;
}
#student_name,#student_city,#student_mobile,#student_email,#student_section_id,#student_dob{
  float:right;
  margin-right: 30px;
  padding: 10px;
  margin-top: 5px;
  width: 200px;
  border: 2px solid black;
}
#student_city,#student_section_id{
  width: 220px;
}
.gender{
  float:right;
  margin-right: 110px;
  margin-top: 5px;
  padding: 10px;
  font-family:Lato Medium ;
}
#box{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border : 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1{
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0px;
  padding: 5px;
  font-family: Ubuntu;
  line-height: 50px;
}
#check{
  color:maroon;
  font-family: Lato Medium;
}

