/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#footer{
  color:white;
  background-color: black;
  padding: 5px;
  text-align: center;
  margin-top: 90px;
  width: 98%;
  font-family: Ubuntu;
  font-size: 17px;
  margin-left: 3px;
}
#box{
  border: 2px solid black;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
#username,#password{
  float: right;
  margin-right: 70px;
}
.heading{
  float: left;
  margin-left: 70px;
  font-family:  Ubuntu;
}
h1{
  background-color: black;
  color:white;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  font-family: Ubuntu;
}
.errors{
  margin-left: 500px;
  margin-right: auto;
  color:red;
  font-family: Ubuntu;
}
.upper_right_links{
float:right;
margin-right:50px;
font-size: 20px;
font-family: Ubuntu;
text-decoration: none;

}
.upper_right_links a{
  text-decoration: none;
}
.signup_heading{
  float: left;
  margin-left: 70px;
  font-family:  Ubuntu;
}
.signup_button,.create_product_button,.update_product_button, .login_button{
  width:25%;
  color:white;
  background-color:black;
  padding:10px;
  font-size:16px;
  font-weight:bold;
  border: 2px solid white;
}
#user_username,#user_password,#user_password_confirmation,#user_dob,#user_address{
  float: right;
  margin-right: 70px;
}
.terms{
 float: right;
 margin-right: 140px;
 margin-top: 0px;
 font-family: Ubuntu;
}
#user_terms{
  margin-left: 180px;
  float: left;
}
table,th,td{
  border: 2px solid black;
  border-collapse: collapse;
  padding : 10px;
  font-family: Ubuntu;
}
  th{
    width:120px;
}
  td,th{
    line-height: 15px;

}
  table{
    margin-left:auto;
    margin-right:auto;
}
  .delete_button,.edit_link{
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: none;
}
  #product_name,#product_price{
    float: right;
    margin-right: 70px;
}
    .delete_button{
      float: right;
      margin-top: -20px;
}
    
    .create_product_button:hover ,.signup_button:hover ,.login_button:hover, .update_product_button:hover{
      color:black;
      background-color: white;
      border: 2px solid black;
}
    h2{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  